* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px 20px;
}
.app_title {
  color: #d81b60;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.source {
  font-size: 12px;
}
